extends layout

block content
  table(border='1')
      thead
        tr
          th Label
          th Name
          th ABV
          th Untappd
          th Beer Advocate
          th Ratebeer
          th Style
      tbody
        each beer, i in beerlist
          tr

            td
              //- img(src= "http://" + row.Image)
              img(src= beer.label, width='50', height='50')
            td= beer.name
            td= beer.abv + "%"
            td 
              a(href=beer.slug) #{beer.rating}
            td= 00
            td= 00
            td= beer.style