extends layout

block content
  table(border='1')
      thead
        tr
          th Num
          th Name
          th ABV
          th Untappd
          th Beer Advocate
          th Ratebeer
          th Style
      tbody
        each beer, i in beerlist
          tr

            td= i + 1
            td
              a(href=beer.slug) #{beer.name}
            td= beer.abv + "%"
            td= beer.rating
            td= 00
            td= 00
            td= beer.style