extends layout

block content
  table(border='1')
      thead
        tr
          th Num
          th Name
          th ABV
          th Rating
          th Style
          th Description
      tbody
        each beer, i in beerlist
          tr
            td= i + 1
            td= beer.name
            td= beer.abv
            td= beer.rating
            td= beer.style
            td= beer.description