<!DOCTYPE html> 
<html> 
    <head> 
    <title>My Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
</head> 
<body> 

<div data-role="page">


    <div data-role="header">
        <h1><%= beerlist[0].bar %></h1>
    </div><!-- /header -->
    <a href="./" data-shadow="false" data-iconshadow="false" data-icon="carat-l" data-iconpos="notext" data-rel="back" data-ajax="false" class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all" data-role="button" role="button">Back</a>

    <div data-role="main" class="ui-content">
      <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">

      <% for (var i = 0; i < beerlist.length; i++) { %>

      <li class="ui-li-has-thumb ui-first-child">
        <a href= "http://beeradvocate.com<%= beerlist[i].url %>" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
        <h1 class="ui-li-thumb"><%= beerlist[i].rating %></h1>
        <!-- <h1 class="ui-li-thumb"><%= beerlist[i].rating %></h1> -->
          <p><%= beerlist[i].name%></p>
          <p><%= beerlist[i].brewery%></p>
          <p><%= beerlist[i].abv%></p>
          <p><%= beerlist[i].serving%></p>
          </a></li>
      <% } %>
      </ul>
  </div>

</div><!-- /page -->

</body>
</html>